.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(3px);
}

.modalContent {
    background: var(--color-bg);
    border-radius: 1rem;
    width: 90%;
    max-width: 70%;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-primary-variant);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-primary-variant);
}

.modalHeader h3 {
    margin: 0;
    color: var(--color-primary);
    font-size: 1.3rem;
}

.closeButton {
    background: transparent;
    border: none;
    color: var(--color-white);
    font-size: 1.7rem;
    cursor: pointer;
    padding: 0.3rem 0.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.closeButton:hover {
    background: rgba(255, 255, 255, 0.1);
    color: var(--color-primary);
}

.modalBody {
    padding: 1.5rem;
}

/* 스크롤바 스타일링 */
.modalContent::-webkit-scrollbar {
    width: 8px;
    display: block;
}

.modalContent::-webkit-scrollbar-track {
    background: var(--color-bg-variant);
    border-radius: 10px;
}

.modalContent::-webkit-scrollbar-thumb {
    background: var(--color-primary-variant);
    border-radius: 10px;
}

.modalContent::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

/* 모바일 대응 */
@media screen and (max-width: 600px) {
    .modalContent {
        width: 95%;
        max-height: 80vh;
    }

    .modalHeader {
        padding: 1rem;
    }

    .modalBody {
        padding: 1rem;
    }
}
